body {
  margin: 0;
  padding: 0;
  background-color: #272f40;
  text-align: center; }

#root {
  padding: 0 10%; }

#quote-box {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-size: 2em; }

#text {
  color: #91bcd3;
  font-weight: 700; }

#author {
  color: #147dba; }

#buttons {
  margin-top: 1em; }

#tweet-quote, #new-quote {
  color: #123;
  text-decoration: none;
  font-size: 0.6em;
  padding: 0.8em;
  background-color: #d9dae8;
  margin: 1em;
  cursor: pointer;
  border-radius: 4px; }

#tweet-quote:hover, #new-quote:hover {
  color: #def;
  background-color: #321; }
